<div class="row">
    <div class="col-md-4" *ngFor="let p of productlist">
        <div class="card">
            <a (click)="details(p.id)">
        <div class="card-header">
            <img [src]="p.image" class="card-img-top" height="150" width="100">
        </div>
        <div class="card-body">
            <h3 class="card-title">Price:{{p.price}}</h3>
            <h4 class="m-b-0">{{p.category}}</h4>
            <!-- <p class="m-b-0">{{p.description}}</p> -->
        </div>
    </a>
        <div class="card-footer">
            <button class="btn btn-warning" (click)="addtocart(p)">Add to Cart</button>
        </div>
    </div>
    </div>
</div>
